<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteEngine On
   RewriteCond %{HTTP_HOST} ^1000pass.com
   RewriteRule (.*) http://www.1000pass.com/$1 [R=301,L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>