body {
	font-family:Arial, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 908px;
}

div {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

img {
	border: 0;
}

.hidden {
	display: none;	
}

label {
	padding: 8px 20px 2px 0;
	display: block;
	color: #A3A3A3;
	font-weight: bold;
}

input, select, textarea {
	padding-top: 3px;
	border: 0;
	height: 21px;
	width: 190px;
	color: #333333;
	background: transparent url(img/input_bg.png) no-repeat bottom;
}

select {
	height: 22px;
}

textarea {
	height: 44px;
	background: transparent url(img/text_bg.png) repeat-x bottom;
}

input[type=checkbox] {
	clear: left;
	float: left;
	width: auto;
}

div.input {
	min-height: 40px;
}

div.date select {
	width: 63px;
}

div.textarea {
	height: 70px;
}

input[type=submit] {
	padding: 2px 5px;
	width: auto;
	margin-top: 5px;
	color: #A3A3A3;
}

div.error-message {
	color: red;
	margin-bottom: 5px;
}

div#flashMessage {
	padding-left: 5px;
	color: blue;
	font-weight: bold;
}

#container {
}

#header {
}

.logo {
	width: 198px;
	height: 63px;
}

div.inner_container_vertical_scroll {
	width: 895px;
	height: 280px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.plugins {
	background: url(img/plugin_bg.png) no-repeat;
	float:left;
	width: 173px;
	height: 145px;
	text-align: center;
}

.plugins .toolbar {
	color: #fff;
	background: url(img/enabled.png) no-repeat;
	width: 140px;
	height: 19px;
	margin: 12px 0 10px 10px;
	font-weight: bold;
	font-size: 12px;
	padding: 5px 0 0 10px;
	text-align: left;
}

.plugins .disabled {
	background: url(img/disabled.png) no-repeat;
}

.plugins .action {
	width: 15px;
	height: 15px;
	float: right;
	margin: 0 5px 0 0;
}

.plugins .remote_site_logo, .plugins .remote_site_logo_disabled {
	height: 70px;
	width: 145px;
}

.plugins .description {
	color: #000;
	width: 150px;
	height: 15px;
	padding: 0 0 0 10px;
	overflow: hidden;
}

1div.inner_container_border {
	height: 354px;
	1background: url(img/inner_container_border.png) no-repeat;
	1overflow-y: auto;
}

div.inner_container {
	padding: 17px;
	height: 317px;
	background: url(img/inner_container_bg.png) no-repeat;
}


div.inner_container div.left {
	1margin: 50px 0 0 50px;
	margin: 50px 30px 0 10px;
	background: url(img/3d_pages.png) no-repeat;
	width: 460px;
	height: 251px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.inner_container div.left table {
	margin-top: 8px;
	font-size: 13px;
	width: 100%;
	border-collapse:collapse;
}

div.inner_container div.left table td, th {
	text-align: center;
	padding: 3px;
	border: 1px solid #cccccc;
}

div.inner_container div.right {
	width: 340px;
	height: 320px;
	margin: 0 0 0 25px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.inner_container div.no_bg {
	background: none;
}

div.text_and_logo {
	color: #A3A3A3;
	width: 330px;
	height: 55px;
	font-size: 20px;
	margin: 0;
}

div.text_and_logo span {
	float: left;
	padding: 10px 5px 0 0;
}

div.text_and_logo span.subtitle {
	float: left;
	padding: 0 5px 0 0;
	width: 330px;
	font-size: 11px;
}

div.top_addsense {
	width: 234px;
	float: right;
	margin: 0 10px 0 0;
}

div.bottom_addsense {
	width: 728px;
	margin: 15px 10px 0 90px;
}

#languages {
	width: 250px;
	float: right;
}


/** Top Bar */
#top_bar {
	background: url(img/search_bg.jpg) no-repeat;
	width: 898px;
	height: 25px;
	margin: 0 0 10px 2px;
	padding: 10px 15px 15px 15px;
}

#top_bar img {
	float: left;
}

#top_bar span.label {
	float: left;
	color: #A3A3A3;
	font-size: 14px;
	padding: 6px 25px 0 4px;
}

#top_bar div.actions {
	padding-top: 5px;
	width: auto;
}

#top_bar div.login {
	width: auto;
	margin: 2px 0 0 0;
}

/**Login */
#UserLoginForm div {
	width: 205px;
	height: 21px;
}

#UserLoginForm div.submit {
	width: 50px;
}

#UserLoginForm label {
	width: 40px;
	float: left;
}

#UserLoginForm input {
	width: 140px;
	float: left;
	background: transparent url(img/input_140_bg.png) no-repeat bottom;
}

#UserLoginForm input[type=submit] {
	width: 77px;
	float: left;
	margin: 0;
	text-align: center;
	background: url(img/button_bg.png) no-repeat;
}

#google_search {
	background: url(img/google_logo.jpg) no-repeat;
	width: auto;
	margin-right: 45px;
	float: right;
}

#google_search div.input {
	width: 100px;
}

#google_search input {
	width: 190px;
	margin-left: 100px;
}

#google_search input[type=submit] {
	width: 50px;
	margin-left: 0;
}

#menu {
	margin-left: 125px;
}
#menu a {
	display: block;
	width: 30px;
	padding: 4px;
	float: left;
}

/*
#logout {
	display: block;
	float: left;
	width: 59px;
	height: 22px;
	background: url(img/logout.jpg) no-repeat;
}
*/